@import url('https://fonts.cdnfonts.com/css/sho-card-caps-2');

:root {
  --SiteColor: #FAFAFA;
  --Line: #8B4F26;
  --Font: #61361A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--Font);
}

hr {
  background: var(--Line);
  width: 100%;
  height: 6px;
}

h1 {
  font-family: 'Sho-Card-Caps', sans-serif;
}

.lamp {
  position: fixed;
  top: 1.5%;
  right: 2%;
  height: auto;
  cursor: pointer;
  font-size: 1.5em;
}

.App {
  scroll-behavior: smooth;
  overflow-x: clip;
  overscroll-behavior: none;
  background: var(--SiteColor);
  color: var(--Font);
}

.body {
  text-align: center;
}
