.content-container {
	margin-top: 100px;
	padding: 5px 40px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cards-boxes {
	margin-top: 30px;
	display: flex;
	margin-bottom: 30px;
}

.content-card {
	margin-left: 20px;
}

@media (max-width : 800px) {
	.card-container, .cards-boxes {
		transform: scale(0.54);
		margin-bottom: 0;
		margin-top: 0;
	}
	.cards-boxes {
		height: 150px;
	}
	.content-card {
		margin-left: 10px;
	}
	.carousel {
		transform: scale(0.65);
	}
}