<div class="card-container shadow-box">
    <div class="card-logo">
        <app-logo-white logoWidth="120" />
    </div>

    <div class="card-middle"> 
        <img src="../../../assets/chip.png" width="60px" />
        <div>
            <p>XXXX</p>
            <p>XXXX</p>
            <p>XXXX</p>
            <p>1111</p>
        </div>
    </div>

    <div class="card-footer">
        <p>Olá, Leoncio Zeca Truta</p>
        <p>Ag 000</p>
        <p>CC 111111111</p>
    </div>

    <div class="card-limit">
        <p>Limit: 10000</p>
    </div>
</div>
