@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/*Begin*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: black;
  line-height: 1.6;
  min-height: 100vh;
}

/*Header*/
.top {
  background-color: #374A9E;
  text-align: left;
  position: relative;
  width: 100%;
  height: 55px;
  left: 0;
}

.title {
  text-decoration: wavy;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.menu {
  position: relative;
  width: 100%;
  left: 0;
  height: min-content;
  text-align: center;
  background-color: #151D3D;
}

.links a {
  font-size: 2em;
  color: white;
  top: 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.links a:hover {
  text-decoration: underline;
  color: #C9DFF6;
  animation-name: link;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/*Main*/
.ml2 {
  font-weight: 900;
  font-size: 4em;
  text-align: center;
  padding-top: 8%;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

p {
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    animation-name: slidein;
    margin-top: 20px;
}

section{
  min-height: 100vh;
  text-align: center;
}

section .text {
  margin: 100px;
}

section .text h1 {
  font-size: 3rem;
  margin: 20px;
}

section .text h2 {
  font-size: 2rem;
  margin: 20px;
}

/* Reveal on scroll */
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 2.5s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0.5%;
      width: 100%;
      font-size: 200%;

    }
  }

  @keyframes link {
    from {
      font-size: 2em;
    }

    50% {
      font-size: 2.5em;
    }

    to {
      font-size: 2em;
    }
  }

  /* Water */

  .plopes {
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 100px;
  }

  .content {
    position: relative;
  }
  
  .content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }